// ink guide focus
$main_color : #0080ff;
$dis_color : #999;
$line_color : #565656;

$main_bg_color : #2a2d2f;
$font_color : #fff;

$point_color : #ed2a61;

$focus_line_color : #000;

// 가이드 랩 최대 너비
$guide_wrap_max_width : 360px;
// 내용 높이
$guide_cont_wrap_height : 100px;
// 포커스 박스
$guide_focus_box_size : 28px;


// 가이드    
.i_guide_bg {display: block; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.5); position: fixed; left: 0; top: 0; z-index: 900;}
.i_guide_wrap {display: block; width: 100%; max-width: $guide_wrap_max_width; height: auto; background-color: $main_bg_color; color: $font_color; font-size: 14px; font-weight: 400; padding: 20px; border-radius: 4px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); position: fixed; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 1100;

    @media screen and (max-width: 800px) {
        width: calc(100% - 20px);
        top: initial; bottom: 10px; transform: translate(-50%,0);
    }

    // 제목
    .guide_tit {display: block; width: 100%; height: auto; padding-bottom: 10px; border-bottom: 1px solid $line_color; margin-bottom: 20px; font-size: 18px; font-weight: bold; line-height: 1.2;}
    // 내용
    .guide_cont_wrap {display: block; width: 100%; height: $guide_cont_wrap_height; overflow-y: auto;
        .guide_cont {display: block; width: 100%; height: auto; line-height: 1.5; font-size: inherit; font-weight: inherit; margin: 0; padding: 0; word-break: keep-all;}

        @media screen and (max-width: 800px) {
            height: auto;
            max-height: 100px;
        }
    }
    // 버튼
    .guide_btn_box {display: flex; width: 100%; height: auto; margin-top: 20px; align-items: center; border-top: 1px solid $line_color; gap: 10px; transition: all 0.35s ease; padding-top: 10px;
        .guide_btn {display: flex; width: 32px; height: 32px; padding: 0; margin: 0; background-color: transparent; color: $font_color; position: relative; border: 1px solid transparent; transition: all 0.35s ease; font-size: 12px; cursor: pointer;
            &::before,
            &::after {content: ''; display: block; width: 2px; height: 12px; background-color: #fff; position: absolute;}
            &.prev::before,
            &.prev::after,
            &.next::before,
            &.next::after {background-color: $main_color;}
            &.disable::before,
            &.disable::after {background-color: $dis_color;}
            &.prev::before {left: 50%; top: calc(50% - 4px); transform: translate(-50%,-50%) rotate(45deg);}
            &.prev::after {left: 50%; top: calc(50% + 4px); transform: translate(-50%,-50%) rotate(-45deg);}
            &.next::before {left: 50%; top: calc(50% + 4px); transform: translate(-50%,-50%) rotate(45deg);}
            &.next::after {left: 50%; top: calc(50% - 4px); transform: translate(-50%,-50%) rotate(-45deg);}
            &.close {margin-right: auto;}
            &.close::before,
            &.close::after {height: 18px; left: 50%; top: 50%; background-color: $point_color;}
            &.close::before {transform: translate(-50%,-50%) rotate(45deg);}
            &.close::after {transform: translate(-50%,-50%) rotate(-45deg);}
            &.close_keep {display: flex; align-items: center; justify-content: center; width: auto; background-color: $dis_color; color: #fff; padding: 4px 12px; border-radius: 100px;
                &:hover {background-color: $point_color; color: #fff;}
            }
            &.close_keep::before,
            &.close_keep::after {display: none;}
            &:focus,
            &:hover {filter: drop-shadow(0 0 4px $main_color);}
            &.close_keep:focus,
            &.close_keep:active,
            &.close_keep:hover {filter: none;}
            &.disable:focus,
            &.disable:active,
            &.disable:hover {filter: none; cursor: default;}
        }
    }
}


// 가이드 포커스 박스
.i_guide_focus_box {display: flex; align-items: center; justify-content: center; line-height: 1; font-size: 18px; font-weight: 900; width: $guide_focus_box_size; height: $guide_focus_box_size; position: absolute; left: 50%; top: 0; transform: translate(-50%,100%); z-index: 1100; background-color: #fff; color: $main_color; box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2); border: 4px solid $main_color; border-radius: 50%; opacity: 0;
    &.active {opacity: 1; animation: i_guide_focus_ani 1s infinite forwards alternate ease-out}
    &::after {content: ''; display: block; width: 0; height: 0; border: 10px solid transparent; border-top-color: $main_color; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 100%);}
}

@keyframes i_guide_focus_ani {
    0% {transform: translate(-50%,calc(-100% + 5px)) scale(1.1, 0.9);}
    15% {transform: translate(-50%,-100%) scale(1, 1);}
    95% {transform: translate(-50%,calc(-100% - 10px)) scale(1, 1);}
    100% {transform: translate(-50%,calc(-100% - 10px)) scale(1, 1);}
}

// 가이드 하이라이팅 요소
.i_guide_el {}
// .i_guide_el.current {box-shadow: 0 0 10px rgba(0, 0, 0, 0); border: 1px solid rgba(0, 0, 0, 0); animation: i_guide_ani 0.35s  infinite  alternate ease forwards;}
.i_guide_clone {position: fixed; z-index: 1000; cursor: default; box-shadow: 0 0 10px rgba(0, 0, 0, 0); background-color: #fff; animation: i_guide_ani 1s infinite  alternate linear forwards; pointer-events: none;}

@keyframes i_guide_ani {
    from {border: 1px solid transparent;}
    to {border: 1px solid $focus_line_color;}    
}
